@import 'colors.less';

.game-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.game-main {
  flex: 1.6;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid @dark-background;
  flex-direction: column;

  .game-render {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .game-command-input {
    width: 63%;
    border-top: 1px solid @dark-background;

    input {
      border: 0;
      width: 100%;
      height: 100%;
      font-size: 1.6em;
      padding: 0.63em;

      &:disabled {
        background-color: @dark-background;
      }
    }

    .command-error {
      color: @error;
      text-align: center;
    }
  }
}

.game-logs {
  flex: 1;
  padding: 0.5em;

  .log-time {
    //margin-left: 1em;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    text-align: center;
    color: @light-text;
  }
}